#ignore emacs crap
*~
#ignore vim crap
*.swp
#ignore tmp
.tmp/
.tmp*/

#ignore other crap
npm-debug.log
node_modules
*.sublime-workspace

#ignore generated crap
data/comment-full/*.json
data/comments-combined.json
data/comment-body/*.json
data/processed-combined.json
data/processed-combined-flat.json